apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: canaries.canary.k8s.wantedly.com
spec:
  group: canary.k8s.wantedly.com
  names:
    kind: Canary
    plural: canaries
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            image:
              type: string
            targetContainerName:
              type: string
            targetDeploymentName:
              type: string
          required:
          - targetDeploymentName
          - targetContainerName
          - image
          type: object
        status:
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
